# 创建数据

#### 先workbench等mysql IDE 输入如下代码
以创建实验数据
参考网址 ：https://blog.csdn.net/l1028386804/article/details/54657412

show databases;
use demo;
CREATE TABLE  if not exists tab0806
(
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uid` int(11) NOT NULL,
  `ip` varchar(16) NOT NULL,
  `login_time` datetime,
  PRIMARY KEY (`id`),
  KEY (`uid`)
);

INSERT INTO tab0806 SELECT null, 1001, '192.168.1.1', '2017-01-21 16:30:47';
INSERT INTO tab0806 SELECT null, 1003, '192.168.1.153', '2017-01-21 19:30:51';
INSERT INTO tab0806 SELECT null, 1001, '192.168.1.61', '2017-01-21 16:50:41';
INSERT INTO tab0806 SELECT null, 1002, '192.168.1.31', '2017-01-21 18:30:21';
INSERT INTO tab0806 SELECT null, 1002, '192.168.1.66', '2017-01-21 19:12:32';
INSERT INTO tab0806 SELECT null, 1001, '192.168.1.81', '2017-01-21 19:53:09';
INSERT INTO tab0806 SELECT null, 1001, '192.168.1.231', '2017-01-21 19:55:34';

show tables;
select * 
from demo.tab0806;

## 转到python ,用mysql 查询是否成功创建了

In [2]:
import pymysql
db = pymysql.connect("localhost","root","deepwind","demo" ) 
cursor = db.cursor()
sql_2="SHOW TABLES"
cursor.execute(sql_2)
result2=cursor.fetchall()
print('result2:',result2) 

db.close()

result2: (('demo',), ('employee',), ('tab0806',), ('tb',))

In [22]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
engine=create_engine('mysql+pymysql://root:deepwind@localhost:3306/demo')
sql = "SELECT distinct(uid),ip,login_time FROM tab0806 limit 8" 
# read_sql_query的两个参数: sql语句， 数据库连接
df = pd.read_sql_query(text(sql), engine)
df.head(8)

C:\Users\lining\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

    uid             ip          login_time
0  1001    192.168.1.1 2017-01-21 16:30:47
1  1003  192.168.1.153 2017-01-21 19:30:51
2  1001   192.168.1.61 2017-01-21 16:50:41
3  1002   192.168.1.31 2017-01-21 18:30:21
4  1002   192.168.1.66 2017-01-21 19:12:32
5  1001   192.168.1.81 2017-01-21 19:53:09
6  1001  192.168.1.231 2017-01-21 19:55:34

## 如果只需要针对用户查出其最后登录的时间，可以简单写出：

In [8]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
engine=create_engine('mysql+pymysql://root:deepwind@localhost:3306/demo')
sql = '''
SELECT uid, max(login_time)
FROM tab0806
GROUP BY uid;'''

df = pd.read_sql_query(text(sql), engine)
df.head(8)

C:\Users\lining\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

    uid     max(login_time)
0  1001 2017-01-21 19:55:34
1  1002 2017-01-21 19:12:32
2  1003 2017-01-21 19:30:51

# 若还需要查询用户最后登录时的其他信息，就不能用这种sql写了：

**这样的语句是非SQL标准的，虽然能够在MySQL数据库中执行成功，
但返回的却是未知的**

（如果sql_mode开启了**only_full_group_by**，则不会执行成功。）

可能ip字段会取uid分组前的第一个row的值，显然不是所需信息**

In [12]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
engine=create_engine('mysql+pymysql://root:deepwind@localhost:3306/demo')
sql_1 = '''
-- 错误写法,虽然可以执行
SELECT uid, ip, max(login_time)
FROM tab0806
GROUP BY uid;
-- 错误写法
'''

df = pd.read_sql_query(text(sql_1), engine)
df.head(8)

C:\Users\lining\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

    uid             ip     max(login_time)
0  1001    192.168.1.1 2017-01-21 19:55:34
1  1002   192.168.1.31 2017-01-21 19:12:32
2  1003  192.168.1.153 2017-01-21 19:30:51

# 正确写法  子查询

In [21]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
engine=create_engine('mysql+pymysql://root:deepwind@localhost:3306/demo')
sql_2 = '''
SELECT distinct(a.uid), a.ip, a.login_time
FROM tab0806 a
WHERE a.login_time in (
                        SELECT max(login_time)
                        FROM tb
                        GROUP BY uid
                        );

'''

df = pd.read_sql_query(text(sql_2), engine)
df.head(8)

C:\Users\lining\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

    uid             ip          login_time
0  1003  192.168.1.153 2017-01-21 19:30:51
1  1002   192.168.1.66 2017-01-21 19:12:32
2  1001  192.168.1.231 2017-01-21 19:55:34

# 法2

In [17]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
engine=create_engine('mysql+pymysql://root:deepwind@localhost:3306/demo')
sql_2 = '''
SELECT distinct(a.uid), a.ip, a.login_time
FROM tab0806 a
WHERE a.login_time = (
                        SELECT max(login_time)
                        FROM tb
                        WHERE a.uid = uid
                     );

'''

df = pd.read_sql_query(text(sql_2), engine)
df.head()

C:\Users\lining\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

    uid             ip          login_time
0  1003  192.168.1.153 2017-01-21 19:30:51
1  1002   192.168.1.66 2017-01-21 19:12:32
2  1001  192.168.1.231 2017-01-21 19:55:34

# 法3  使用join性能更加好

In [20]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
engine=create_engine('mysql+pymysql://root:deepwind@localhost:3306/demo')
sql_2 = '''
SELECT distinct(a.uid), a.ip, a.login_time
FROM 
    (SELECT uid, max(login_time) login_time
     FROM tab0806
    GROUP BY uid) b 
JOIN tb a ON a.uid = b.uid AND a.login_time = b.login_time;

'''

df = pd.read_sql_query(text(sql_2), engine)
df.head(8)

C:\Users\lining\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

    uid             ip          login_time
0  1003  192.168.1.153 2017-01-21 19:30:51
1  1002   192.168.1.66 2017-01-21 19:12:32
2  1001  192.168.1.231 2017-01-21 19:55:34